nav {
	font-size: 20px;
	background-color: #E0E0E0;
}

#navbarNav {
	width: 100%;
	text-align: center;
}

#navbarNav > ul {
	float: right;
}

#navbarNav > ul li {
	margin-right: 85px;
}

a.button {
    background-color: #039BE5;
    border-radius: 5px;
    color: white !important;
}

a.button:hover {
    background-color: #039BE5;
    border-radius: 5px;
    color: #01579B !important;
}

#welcome {
	background-image: url('../img/nanny.jpg');
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
	position: fixed;
	opacity: 0.8;

	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);
}

div h1 {
	z-index: 9999;
	padding-top: 200px;
	text-align: center;
	font-size: 50px;
	font-weight: lighter;
	color: black;
	height: 500px;

}

.hidden {
	display: none;
}

#presentation {
	margin-top: 100px;
	text-align: center;
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 62px; /* Stay at the top */
    left: 0;
    background-color: #212121; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#usersContainer {
	padding-top: 20px;
	padding-left: 280px;
}

#usersContainer table, th, td {
    border: 1px solid black;
}

#usersContainer table tr:nth-child(2n) {
    background-color: #B2DFDB;
}

#dashboard {
    padding-top: 20px;
    padding-left: 280px;
    text-align: center;
}

#dashboard #cyan {
    background-color: #039BE5;
    color: white;
}

#dashboard #orange {
    background-color: #FB8C00;
    color: white;
}

#dashboard #brown {
    background-color: #6D4C41;
    color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 